* {
  padding: 0px;
  margin: 0px;
  font-family: "DM Sans", sans-serif;
}

body {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 320px;
}
.button-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-bottom-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.display-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  align-items: end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.calculate-container {
  overflow-x: hidden;
  display: flex;
  justify-content: end;
  width: 100%;
}

.display-container h3 {
  color: white;
  font-size: 30px;
  height: fit-content;
  overflow: hidden;
}

.display-container h4 {
  height: 26px;
  color: white;
  font-size: 20px;
}

.display-container input {
  outline: none;
  text-align: end;
  font-size: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 800;
  color: white;
}

.display-container input:focus {
  outline: none;
  cursor: default;
}

.display-container input:hover {
  cursor: default;
}

.btn-calc {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  width: 80px;
  height: 80px;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-calc:hover {
  background-color: rgba(255, 255, 255, 0.24);
  transition: all 0.4s ease-out;
}

#bottomleft-corner {
  border-bottom-left-radius: 16px;
}

#bottomright-corner {
  border-bottom-right-radius: 16px;
}

#bottomleft-corner:hover {
  border-bottom-left-radius: 16px;
}

#bottomright-corner:hover {
  border-bottom-right-radius: 16px;
}
